.gmt_ExpandingBoxListElement {
	margin: 0px;	
	color: "red";
}

.gramontPlmSpecedit_ExpandingButtonText{
	color: #A9C6DE !important;
	font-size: 0.8rem;
}

.gramontPlmSpecedit_ExpandingButtonIcon{
	color: #A9C6DE;
	font-size: 0.8rem;
}

.gmt_InformationBoardElement{
	margin: 20px;
}